.nav {
  background: #01080e;
  height: 100px;
  position: absolute;
  min-width: 100%;
  top: 0;
  font-family: "Prompt", sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listItem {
  display: flex;
  align-items: center;
}

.listItem li {
  transition: 1s;
  cursor: pointer;
}
.listItem li:hover {
  color: #94183b;
  border-radius: 10px;
}
.menuItem {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: 1s;
}
.menuItem:hover {
  background-color: #040404;
  border-radius: 10px;
}
.subMenu {
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to top,
    rgba(27, 46, 59, 0.568),
    rgba(255, 255, 255, 0)
  );

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 0;
  min-width: 100vw;
}

.subMenuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
.subMenuItemLink {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #474747;
  transition: 0.3s;
}

.subMenuItemLink:hover {
  color: #ffffff;
  background-color: #202024;
  padding: 10px;
  border-radius: 5px;
}

.subImg {
  margin-right: 20px;
}

.memberArea {
  color: #01080e;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9fff6;
  padding: 10px;
  margin-right: 10px;
  transition: 1s;
  font-weight: bold;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 85% 100%, 0 100%);
}
.memberArea span {
  margin-left: 10px;
}
.memberArea:hover {
  background-color: #ffffff;
  color: #121214;
}
