/* Card.module.css */
.container {
  display: flex;
  position: absolute;
  margin-top: 10px;
  width: 900px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.mainCard {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  background-color: #021017;
  width: 200px;
  height: 150px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
}
.cardInfo {
  padding: 15px;
  margin-right: 10px;
}
.card h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 0.8em;
}
.card p {
  font-size: 0.9em;
  color: #fff;
}

.card1 {
  color: rgb(207, 118, 15);
}

.card2 {
  color: rgb(5, 185, 209);
}
.card3 {
  color: rgb(22, 209, 5);
}
.card4 {
  color: rgb(209, 5, 175);
}
.card5 {
  color: rgb(209, 5, 56);
}
.card6 {
  color: rgb(25, 5, 209);
}
.card7 {
  color: rgb(165, 141, 161);
}
.card8 {
  color: rgb(231, 247, 15);
}
